<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>User-verif</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/admin-verif-style.css">
</head>

<body>
    <section class="section-user-verif">
        <div class="container">
            <div class="row text-center">
                
                    <div class="col-6 offset-3 text-center">
                    <div class="block-verif-user">
                        <form action="">
                           <div class="col-12"><input type="text" value="Логин" class="button-login"></div>
                           <div class="col-12"> <input type="text" value="Пароль" class="button-pasword"></div>
                           <div class="col-12"><input type="text" value="Ключ" class="button-login"></div>
                           
                            
                           
                        </form>
                            <form action="{% url 'administrator' %}">
                            <button class="button-join-conf"><a>Создать конференцию</a></button>
                            <p>//хз что здесь должно быть из кнопок</p>
                            </form>
                    </div>
                    </div>
                
            </div>
        </div>
    </section>
</body>

</html>